<!DOCTYPE html>
<html>
	<head>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<style type="text/css">
			body {
				background: black;
				color: white;
			}
			.centered{
			    text-align:center;
			}
			.row {
				overflow: auto;
			    clear: both;
			    text-align: center;
			}
			.key {
				background: gray;
				margin: 10px;
				padding: 10px;
				font-size: 20px;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				line-height: 50px;
				text-align: center;
				display: inline-block;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
				z-index:0;			
			}
			#launchpad-div {
				overflow: auto;
				margin: auto;
				width: 90%;
			}

			.ink {
				display: block;
				position: absolute;
				background: rgba(255, 0, 255, 0.7);
				border-radius: 100%;
				-webkit-transform:scale(0);
			   	-moz-transform:scale(0);
				-o-transform:scale(0);
			    transform:scale(0);
			}

			.animate {
				-webkit-animation:ripple 0.65s linear;
			   	-moz-animation:ripple 0.65s linear;
			    -ms-animation:ripple 0.65s linear;
			    -o-animation:ripple 0.65s linear;
			    animation:ripple 0.65s linear;
			}

			@-webkit-keyframes ripple {
			    100% {opacity: 0; -webkit-transform: scale(2.5);}
			}
			@-moz-keyframes ripple {
			    100% {opacity: 0; -moz-transform: scale(2.5);}
			}
			@-o-keyframes ripple {
			    100% {opacity: 0; -o-transform: scale(2.5);}
			}
			@keyframes ripple {
			    100% {opacity: 0; transform: scale(2.5);}
			}
		</style>
		<title>MK Launchpad</title>
	</head>

	<body>
		<h1 class="centered">Welcome to the MK Launchpad</h1>
		<div class="cenetered" id="launchpad-div">
			<!-- <div class="row">
				<div class="key" id="1">1</div>
				<div class="key" id="2">2</div>
				<div class="key" id="3">3</div>
				<div class="key" id="4">4</div>
			</div>
			<div class="row">
				<div class="key" id="Q">Q</div>
				<div class="key" id="W">W</div>
				<div class="key" id="E">E</div>
				<div class="key" id="R">R</div>
			</div>
			<div class="row">
				<div class="key" id="A">A</div>
				<div class="key" id="S">S</div>
				<div class="key" id="D">D</div>
				<div class="key" id="F">F</div>
			</div>
			<div class="row">
				<div class="key" id="Z">Z</div>
				<div class="key" id="X">X</div>
				<div class="key" id="C">C</div>
				<div class="key" id="V">V</div>
			</div> -->
		</div>
		<div id="audio-container">
		</div>
	</body>
	<script type="text/javascript">
		var AUDIO_DIR = "./audio/";
		var SUFFIX = ".wav";
		var KEYS_PER_ROW = 4;
		var KEYS = ["1", "2", "3", "4", "Q", "W", "E", "R", "A", "S", "D", "F", "Z", "X", "C", "V"];
		var keysDown = {}

		function generateKeysDownDict(){
			for (var i = 0; i < KEYS.length; i++) {
				keysDown[KEYS[i]] = [false, Date.now()];
			}
		}

		function drawLaunchpad(){
			var row = document.createElement("div");
		    row.className = "row";
			var i = 0;
		    while (i < KEYS.length){
		      	var key = KEYS[i];
		      	var div = document.createElement("div");
		      	div.className = "key";
		      	div.id = key
		      	div.innerHTML = key
		      	row.appendChild(div);
		      	i++;
		    	if (i % KEYS_PER_ROW == 0){
		      		$("#launchpad-div").append(row);
		      		row = document.createElement("div");
		      		row.className = "row";
		    	}

		      	a = document.createElement("audio");
		      	$(a).addClass("audio");
		      	$(a).attr("id", "audio-" + key);
		      	$(a).attr("src", AUDIO_DIR + key + SUFFIX);
		      	$("#audio-container").append(a);
		    }
	  	}

	  	function ripple(key){
	  		var keyDiv = $("#"+key);
	  		if(keyDiv.find(".ink").length === 0){
	  		    keyDiv.prepend("<span class='ink'></span>");
	  		}

	  		var ink = keyDiv.find(".ink");
	  		ink.removeClass("animate");
	  		 
	  		if(!ink.height() && !ink.width()){
	  		    d = Math.max(keyDiv.outerWidth(), keyDiv.outerHeight());
	  		    ink.css({height: d, width: d});
	  		}
 
	  		var x = keyDiv.offset().left;
	  		var y = keyDiv.offset().top;
	  		 
	  		ink.css({top: y+'px', left: x+'px'}).addClass("animate");
	  	}

		function colorKey(key, color){
			$("#"+key).css("background-color", color); 
		}

		function startAudio(audioId){
		  	var audio = document.getElementById(audioId);
		  	audio.play();
		}
		function stopAudio(audioId){
		  	var audio = document.getElementById(audioId);
		  	audio.pause();
    		audio.currentTime = 0;
		}

		function activateLaunchpad(){
			$(document).keydown(function(e){
			  	key = String.fromCharCode(e.keyCode);
			  	if(Object.keys(keysDown).indexOf(key) != -1){
			  		// console.log((Date.now() - keysDown[key][1]) / 1000);
			  		if (!keysDown[key][0]) {
			  			keysDown[key][0] = true;
			  			keysDown[key][1] = Date.now();
			    		colorKey(key, "silver");
			    		ripple(key);
			  		} else if ((Date.now() - keysDown[key][1]) / 1000 > 0.75) {
			  			keysDown[key][1] = Date.now();
			  			ripple(key);
			  			console.log(key);
			  		}
			    	startAudio("audio-" + key);
			  }
			});
			$(document).keyup(function(e){
			  	key = String.fromCharCode(e.keyCode);
			  	if(Object.keys(keysDown).indexOf(key) != -1){
			  		keysDown[key][0] = false;
			    	stopAudio("audio-" + key);
			    	colorKey(key, "gray");
			  	}
			});
		}

		$(document).ready(function(){
			generateKeysDownDict();
			activateLaunchpad();
			drawLaunchpad();
		});
	</script>
</html>